*::-webkit-input-placeholder {
	color: #DAE3FF;
	opacity: 1;
}
*:-moz-placeholder {
	color: #DAE3FF;
	opacity: 1;
}
*::-moz-placeholder {
	color: #DAE3FF;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #DAE3FF;
	opacity: 1;
} 

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'Ubuntu';
	font-size: 16px;
	overflow-x: hidden;
	margin: 0;
	background-color: #0F1530;
	color: #EDF1FF;
	background: linear-gradient(110.9deg, #0f1431 1.02%, #141533 94.69%);
	background: #0a0f2c;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}
.billbord {
	background-image: url(../img/bg_top.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.billbord__content {
	padding-top: 100px;
	height: 100vh;
	max-width: 784px;
	min-height: 640px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.title-big {
	font-size: 120px;
	line-height: 138px;
	margin-bottom: 15px;
	font-weight: 700;
	color: #FFFFFF;
}
.descr-big {
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 20px;
	font-weight: 300;
	color: #FFFFFF;
}
.btn-page {
	width: 290px;
	height: 117px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #FFFFFF;
	background-image: url(../img/bg_btn1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	transition: all 0.3s;
	position: relative;
	z-index: 1;
}
.btn-main::before,
.btn-page::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url(../img/bg_btn1_1.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	z-index: -1;
	opacity: 0;
	transition: all 0.3s;
}
.btn-main::before {
	background-image: url(../img/bg_btn2_1.svg);
}
.btn-main:hover::before,
.btn-page:hover::before {
	opacity: 1;
}
.header {
	padding-top: 85px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 800;
}
.header__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	display: inline-block;
}
.logo img {
	max-width: 151px;
	height: auto;
	display: block;
}
.menu {
	width: 100%;
	max-width: 725px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu a {
	color: #fff;
	transition: all 0.3s;
	position: relative;
}
.menu a::after {
	position: absolute;
	display: block;
	content: " ";
	left: 50%;
	transform: translateX(-50%);
	top: 100%;
	width: 51px;
	margin-top: 4px;
	height: 4px;
	background-image: url(../img/line_menu.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	opacity: 0;
	transition: all 0.3s;
}
.item-dropdown__content a:hover,
.item-dropdown__value:hover,
.menu a:hover {
	background: linear-gradient(315.39deg, #F64F59 2.16%, #C471ED 49.55%, #12C2E9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.menu a:hover::after {
	opacity: 1;
}
.item-dropdown:hover .item-dropdown__content {
	visibility: visible;
	opacity: 1;
}
.item-dropdown {
	display: inline-block;
	color: #fff;
	position: relative;
}
.item-dropdown__content a {
	display: inline-block;
	margin-top: 10px;
	color: #fff;
}
.item-dropdown__content {
	position: absolute;
	top: 100%;
	min-width: 100%;
	left: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s;
}
.item-dropdown__value {
	padding-right: 18px;
	position: relative;
	cursor: pointer;
}
.item-dropdown__value::after {
	position: absolute;
	display: block;
	content: " ";
	width: 10px;
	height: 10px;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-image: url(../img/arrow-down.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	transition: all 0.3s;
}
.title-section {
	font-size: 66px;
	padding-top: 155px;
	padding-bottom: 20px;
	text-align: center;
}
.item-advantage__icon {
	width: 80px;
	height: 80px;
	background: rgba(255, 255, 255, 0.03);
	box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05), inset 0px 4px 4px rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(86px);
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 25px;
}
.item-advantage__icon img {
	max-width: 100%;
	max-height: 100%;
}
.item-advantage {
	font-size: 18px;
	line-height: 26px;
	font-weight: 300;
	max-width: 330px;
	margin: 0 auto;
	margin-top: 80px;
	text-align: center;
}
.advantages .title-section {
	padding-bottom: 0;
}
.wrap-sections {
	background-image: url(../img/bg_section1.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.descr-section {
	font-size: 24px;
	line-height: 40px;
	font-weight: 300;
	color: #EDF1FF;
	margin: 0 auto;
	text-align: center;
}
.github .descr-section {
	max-width: 760px;
}
.descr-section a {
	line-height: 26px;
	position: relative;
	display: inline-block;
	background: linear-gradient(315.39deg, #F64F59 2.16%, #C471ED 49.55%, #12C2E9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.descr-section a::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	transition: all 0.3s;
	background: linear-gradient(315.39deg, #F64F59 2.16%, #C471ED 49.55%, #12C2E9 100%);
}
.descr-section a:hover::before {
	opacity: 0;
}
.advantages .row > div:nth-child(1) .item-advantage {
	max-width: 294px;
}
.code img {
	max-width: 100%;
	box-shadow: 0px 0px 1px #0F173A, 0px 20px 30px #0A0F27, 0px 10px 50px #0C1125;
	border-radius: 25px;
}
.code {
	margin-top: 70px;
}
.github {
	padding-bottom: 30px;
}
.tokenomics {
	padding: 200px 0;
	padding-bottom: 360px;
	text-align: center;
	background-image: url(../img/tokenomics2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.tokenomics .descr-section {
	max-width: 870px;
	margin-bottom: 50px;
}
.btn-main {
	width: 224px;
	height: 73px;
	font-size: 15px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-weight: 500;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-image: url(../img/bg_btn2.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	transition: all 0.3s;
	position: relative;
	z-index: 1;
}
.btn-main:hover span {
	color: #fff;
	-webkit-background-clip: initial;
	background: none;
	-webkit-text-fill-color: initial;
}
.btn-main:hover img {
	filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(5);
} 
.btn-main span {
	background: linear-gradient(315.39deg, #F64F59 2.16%, #C471ED 49.55%, #12C2E9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.btn-main img {
	margin-left: 30px;
}
.roadmap .title-section {
	padding-top: 45px;
}
.item-roadmap__value {
	font-size: 80px;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.1);
}
.item-roadmap.active .item-roadmap__value {
	backdrop-filter: blur(3px);
	opacity: 1;
	text-shadow: none;
	background: linear-gradient(315.39deg, #F64F59 2.16%, #C471ED 49.55%, #12C2E9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.item-roadmap__year img:nth-child(2) {
	display: none;
}
.item-roadmap__value span {
	display: block;
	width: 100%;
	font-size: 16px;
}
.item-roadmap {
	font-size: 20px;
	font-weight: 700;
	margin: 0 -88px;
	max-width: 204px;
	text-align: center;
}
.item-roadmap p {
	line-height: 27px;
}
.item-roadmap__icon {
	width: 24px;
	height: 24px;
	margin: 17px auto;
	background-image: url(../img/road_circle.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.roadmap-wrap {
	background-image: url(../img/line_roadmap.svg);
	background-repeat: no-repeat;
	background-position: center 121px;
	background-size: 100% auto;
	max-width: 937px;
	margin: 0 auto;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
.item-team__image {
	width: 200px;
	height: 200px;
	padding: 1px;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: inset 2px 2px 2px #7287FF;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 15px;
}
.item-team__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-team {
	margin-bottom: 60px;
	text-align: center;
}
.item-team__descr {
	font-size: 15px;
	color: #C7C7E6;
}
.item-team__name {
	font-size: 20px;
	margin-bottom: 9px;
	color: #F7F7FA;
	font-weight: 500;
}
.team {
	padding-bottom: 90px;
}
.subscribe-block {
	padding-top: 80px;
	max-width: 1170px;
	min-height: 407px;
	margin: 0 auto;
	margin-bottom: 247px;
	box-shadow: 0px 14px 44px #02040F;
	border-radius: 129px 20px 20px 20px;
	background-image: url(../img/bg_sub.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.title-middle {
	font-size: 46px;
	padding-bottom: 20px;
	text-align: center;
}
.descr-page {
	font-size: 18px;
	line-height: 26px;
	font-weight: 300;
	max-width: 480px;
	margin: 0 auto;
	margin-bottom: 54px;
	color: #B1BBE4;
	text-align: center;
}
.line-form {
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-form input {
	width: 100%;
	height: 68px;
	padding-left: 65px;
	padding-right: 20px;
	color: #fff;
	font-family: 'Ubuntu';
	background: rgba(11, 18, 45, 0.4);
	border-radius: 10px;
	border: 1px solid rgba(54, 68, 116, 0.37);
}
.item-form__icon {
	width: 65px;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
}
.item-form {
	position: relative;
}
.btn-block {
	height: 68px;
	padding: 0 47px;
	font-size: 15px;
	line-height: 17px;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-weight: 700;
	background: linear-gradient(315.39deg, #F64F59 2.16%, #C471ED 49.55%, #12C2E9 100%);
	border-radius: 10px;
	position: relative;
	font-family: 'Ubuntu';
	border: none;
	color: #FFFFFF;
	z-index: 1;
}
.btn-block::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 10px;
	transform: scale(-1, -1);
	background: linear-gradient(315.39deg, #F64F59 2.16%, #C471ED 49.55%, #12C2E9 100%);
	opacity: 0;
	transition: all 0.3s;
	z-index: -1;
}
.btn-block:hover::before {
	opacity: 1;
}
.line-form .item-form {
	margin-right: 20px;
	max-width: 425px;
	flex: 1;
}
.subscribe-block__icon {
	top: -13px;
	right: -20px;
	display: inline-block;
	position: absolute;
}
.subscribe-block::after {
	position: absolute;
	display: block;
	content: " ";
	width: 153px;
	height: 166px;
	right: -99px;
	bottom: -70px;
	background-image: url(../img/dots.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	z-index: -1;
}
.copyright {
	font-size: 14px;
	line-height: 17px;
	font-weight: 600;
	text-transform: uppercase;
	background: linear-gradient(91.5deg, #556194 23.31%, rgba(38, 52, 114, 0.62) 104.59%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.footer__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.social-list {
	display: flex;
	align-items: center;
}
.social-list a {
	width: 46px;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.03);
	box-shadow: inset 0px 2px 4px rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(86px);
	border-radius: 60px;
}
.social-list li {
	margin-right: 15px;
}
.social-list li:last-child {
	margin-right: 0;
}
.footer {
	padding-bottom: 50px;
}
.wrapper_main {
	background-image: url(../img/bg_page2.svg);
	background-repeat: no-repeat;
	background-position: center bottom -180px;
}
.team .title-section {
	padding-bottom: 80px;
}
/*Style Sandwich*/
.btn_nav {
	border: none;
	z-index: 60;
	display: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	vertical-align: middle;
	position: relative;
}
.btn_nav:hover {
	opacity: 1;
} 
.sandwich span {
	display: block;
}
.sandwich {
	width: 30px;
	height:28px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 20;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 29px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	top: 10px;
	width: 29px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
	position: relative;
	top: 17px;
	width: 29px;
	height: 2px;
	display: block;
	background-color: #fff;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
	top: 12px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top:8px;
	width: 30px;
	transform: rotate(-45deg);
}

/*End Sandwich*/
.billbord {
	position: relative;
	z-index: 1;
}
.billbord video {
	position: absolute;
	left: 50%; /* % of surrounding element */
	top: 50%;
	min-width: 100%; 
	min-height: 100%; 
	object-fit: cover;
	transform: translate(-50%, -50%); /* % of current element */
	z-index: -1;
}
.row_advantages {
	justify-content: center;
}

.item-advantage {
	padding: 45px 25px;
	margin-top: 0px;
	min-height: 100%;
	display: flex;
	align-items: center;
	text-align: left;
	background: linear-gradient(74.66deg, rgba(195, 198, 61, 0.05) 12.32%, rgba(255, 255, 255, 0) 94.42%);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 14px;
}
.row_advantages > div {
	margin-top: 30px;
}
.item-advantage__icon {
	margin: 0;
	flex: none;
	margin-right: 25px;
}
.item-advantage,
.advantages .row > div:nth-child(1) .item-advantage {
	max-width: 100%;
}
.row_advantages {
	margin: 0 -92px;
	margin-top: 50px;
	justify-content: center;
}
.title-small {
	font-size: 18px;
	margin-bottom: 15px;
	font-weight: 700;
	text-transform: uppercase;
}
.link-small {
	background: linear-gradient(22.91deg, #58A1EA 29.78%, #A280EC 53.18%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 500;
}
.link-small i {
	font-size: 13px;
	margin-left: 4px;
	transition: all 0.3s
}
.link-small:hover i {
	margin-left: 10px;
}
.row_units {
	margin: 0 -25px;
	margin: 0;
}
.row_units > div {
	padding: 0 25px;
	margin-top: 40px;
}
.item-unit p {
	margin-bottom: 14px;
}
.item-unit {
	padding: 40px 30px;
	padding-right: 113px;
	padding-bottom: 60px;
	line-height: 24px;
	background: linear-gradient(104.54deg, #161D40 5.91%, #201346 85.27%);
	border: 2px solid rgba(32, 40, 77, 0.7);
	border-radius: 16px;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.item-unit_2 {
	background: linear-gradient(104.54deg, rgba(39, 17, 50, 0.75) 5.91%, #0C1438 85.27%);
}
.item-unit_3 {
	background: linear-gradient(104.54deg, rgba(64, 22, 22, 0.63) 5.91%, rgba(19, 27, 70, 0.57) 85.27%);	
}
.row_units {
	margin-top: 40px;
}
.item-unit__image {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
	pointer-events: none;
}
.item-unit_2 .item-unit__image {
	top: 0;
	bottom: auto;
}
.item-unit_2 .link-small {
	background: linear-gradient(22.91deg, #00DD69 29.78%, #01606A 53.18%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.item-unit_3 .link-small {
	background: linear-gradient(115.19deg, #EB694B 57.9%, rgba(235, 105, 75, 0.26) 79.99%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.pros-centner {
	width: 386px;
	height: 586px;
	padding: 0 35px;
	padding-top: 60px;
	position: relative;
	margin: 0 auto;
	background-image: url(../img/card_pros.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 1;
}
.pros-centner::after {
	position: absolute;
	display: block;
	content: " ";
	width: 58px;
	height: 120px;
	bottom: 107px;
	right: -51px;
	background-image: url(../img/dots_pros.svg);
	background-repeat: no-repeat;
	background-position: initial;
	background-size: initial;
	z-index: -1;
}
.pros-wrap {
	padding-top: 25px;
	padding-bottom: 90px;
	max-width: 1235px;
	margin: 0 auto;
	margin-top: 90px;
	position: relative;
	z-index: 1;
}
.item-pros {
	position: absolute;
}
.item-pros_1,
.item-pros_2 {
	top: 0;
}
.item-pros_5,
.item-pros_1 {
	left: 235px;
}
.item-pros_6,
.item-pros_2 {
	right: 235px;
}
.item-pros_3,
.item-pros_4 {
	top: 289px;
}
.item-pros_4 {
	right: 0;
}
.item-pros_5,
.item-pros_6 {
	bottom: 0;
}
.item-pros__image {
	width: 117px;
	height: 117px;
	margin-bottom: 15px;
	border: 2px solid #99A8EC;
	border-radius: 50%;
}
.pros-centner__image img,
.item-pros__image img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-pros__name {
	font-size: 18px;
	text-align: center;
}
.line-pros {
	width: 829px;
	height: 498px;
	margin: 0 auto;
	top: 136px;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
}
.pros-centner__image {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	margin-bottom: 25px;
	border-radius: 50%;
	border: 3px solid #7483CA;
	position: relative;
}
.pros-centner__name {
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 10px;
	text-align: center;
}
.pros-centner__link {
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 15px;
	color: #C8D0EF;
	display: block;
	text-align: center;
}
.pros-centner__descr {
	font-size: 15px;
	line-height: 17px;
	color: #fff;
	text-align: center;
}
.pros-centner__descr span {
	font-size: 18px;
	background: linear-gradient(315.39deg, #F64F59 2.16%, #C471ED 49.55%, #12C2E9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 500;
}
.status-pros {
	font-size: 13px;
	line-height: 40px;
	font-weight: 700;
	width: 53px;
	height: 26px;
	bottom: -11px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: linear-gradient(315.39deg, #F64F59 2.16%, #C471ED 49.55%, #12C2E9 100%);
	border-radius: 6px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	position: absolute;
}
.item-stat {
	padding: 10px;
	padding-right: 3px;
	min-height: 100%;
	border-radius: 6px;
	border: 1px solid rgba(51, 63, 109, 1);
}
.row_stats {
	margin: 0 -5px;
	margin-top: 23px;
}
.row_stats > div {
	padding: 0 5px;
	margin-bottom: 10px;
}
.item-stat__title {
	font-size: 13px;
	line-height: 15px;
	margin-bottom: 5px;
	color: #9FACDF;
}
.item-stat__value {
	font-size: 15px;
	line-height: 17px;
	font-weight: 700;
}
.circle-pros {
	top: 37px;
	right: -25px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: absolute;
	background-image: url(../img/circle_pros.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.circle-pros__value {
	font-weight: 700;
}
.circle-pros__descr {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #C8D0EF;
}
.btn-pros {
	height: 40px;
	padding: 0 16px;
	font-weight: 500;
	font-size: 15px;
	display: inline-flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	background: #03B962;
	border-radius: 12px;
	transition: all 0.3s;
	position: absolute;
	color: #fff;
}
.btn-pros img {
	margin-right: 12px;
}
.btn-pros_buy {
	top: 364px;
	left: 177px;
}
.btn-pros_sell {
	top: 270px;
	right: 177px;
	background-color: #E24949;
}
.pros {
	background-image: url(../img/shadow_pros.svg);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.pros__top {
	text-align: center;
	max-width: 638px;
	margin: 0 auto;
}
.pros__top .btn-main {
	margin-top: 50px;
	width: 288px;
}
.descr-gradient {
	margin-bottom: 15px;
	background: linear-gradient(315.39deg, #F64F59 2.16%, #C471ED 49.55%, #12C2E9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-weight: 500;
}
.image-trading {
	border-radius: 24px;
	border: 6px solid #171F44;
	display: inline-block;
	overflow: hidden;
}
.image-trading img {
	border-radius: 24px;
	max-width: 100%;
	transition: all 0.5s;
}
.image-trading:hover img {
	transform: scale(1.2);
}
.text-big {
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 40px;
	color: #EDF1FF;
}
.title-page {
	font-size: 60px;
	line-height: 36px;
	padding-bottom: 50px;
}
.row_tradings {
	align-items: center;
}
.btn-main_page {
	padding: 0 40px;
	width: initial;
	color: #fff;
	background-image: url(../img/bg_btn2_2.svg);
}
.btn-main_page span {
	background: none;
	-webkit-background-clip: initial;
	-webkit-text-fill-color: initial;
}
.btn-main_page img {
	filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(5);
}
.tradings__content {
	max-width: 532px;
	margin: 0 auto;
}
.row_tradings:nth-child(even) {
	flex-direction: row-reverse;
}
.tradings .container {
	max-width: 1220px;
}
.row_tradings {
	margin-top: 126px;
}
.item-step {
	padding: 18px;
	padding-top: 0;
	padding-bottom: 30px;
	background: linear-gradient(104.54deg, rgba(22, 29, 64, 0.7) 5.91%, rgba(32, 19, 70, 0.7) 85.27%);
	border: 1px solid #20284D;
	min-height: 100%;
	border-radius: 16px;
	text-align: center;
}
.item-step__icon {
	height: 72px;
	position: relative;
	top: -40px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s;
}
.item-step:hover .item-step__icon {
	transform: translateY(-20px);
}
.item-step__title {
	font-size: 18px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 700;
}
.row_steps > div {
	margin-top: 130px;
}
.row_steps > div::after {
	position: absolute;
	display: block;
	content: " ";
	width: 15px;
	height: 16px;
	top: 50%;
	right: -7px;
	background-image: url(../img/arrow_step.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.row_steps > div:last-child::after {
	display: none;
}
.row_steps > div:nth-child(1) .item-step__icon {
	top: -25px;
}
.thesis__wrap {
	display: flex;
}
.item-thesis__value {
	font-size: 104px;
	font-weight: 500;
	background: linear-gradient(315.39deg, #F64F59 2.16%, #C471ED 49.55%, #12C2E9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.item-thesis {
	margin-top: 50px;
	text-align: center;
	position: relative;
	flex-grow: 1;
}
.item-thesis__text {
	font-size: 18px;
	font-weight: 500;
}
.item-thesis::after {
	position: absolute;
	display: block;
	content: " ";
	width: 1px;
	height: 118px;
	top: 0;
	right: 0;
	background: linear-gradient(194deg, rgba(33, 42, 85, 0) 5.17%, #212A55 52.3%, rgba(33, 42, 85, 0) 98.85%);
}
.item-thesis:last-child::after {
	display: none;
}
.thesis__top {
	max-width: 565px;
	margin: 0 auto;
}
.thesis {
	padding-bottom: 100px;
}
.btn-main_page::before {
	background-image: url(../img/bg_btn2_1_hover.svg);
}
.tokenomics .container {
	position: relative;
}
.circle-1 {
	bottom: -60px;
	left: 0;
	position: absolute;
}
.circle-2 {
	top: 130px;
	left:200px;
	position: absolute;
}
.circle-3 {
	bottom: -120px;
	left:400px;
	position: absolute;
}
.circle-4 {
	top: 30px;
	right:200px;
	position: absolute;
}
.circle-5 {
	top: 150px;
	right: -100px;
	position: absolute;
}
.circle-6 {
	bottom: -330px;
	right:0px;
	position: absolute;
}