*::-webkit-input-placeholder {
	color: #605F5F;
	opacity: 1;
}
*:-moz-placeholder {
	color: #605F5F;
	opacity: 1;
}
*::-moz-placeholder {
	color: #605F5F;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #605F5F;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'Gilroy';
	font-size: 16px;
	line-height: 22px;
	color: #605F5F;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}
.header {
	padding: 7px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: #fff;
	border-bottom: 1px solid rgba(160, 116, 196, 0.3);
	z-index: 1000;
	transition: all 0.3s;
}
.header.fixed {
	background-color: #243D66;
}
.header__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo-wrap {
	display: flex;
	align-items: center;
}
.logo {
	display: inline-block;
}
.logo img {
	max-width: 100%;
	height: auto;
}
.logo-descr {
	font-size: 13px;
	line-height: 18px;
	max-width: 178px;
	margin-left: 17px;
}
.menu {
	margin-left: 150px;
	margin-right: 70px;
	flex: 1;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu a {
	color: #fff;
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
}
.menu a:hover {
	border-color: #fff;
}
.phone-main {
	font-size: 18px;
	line-height: 25px;
	font-weight: 600;
	color: #fff;
}
.icon-link {
	margin-right: 21px;
	font-size: 18px;
	display: inline-block;
	color: #fff;
}

.billbord {
	padding-top: 165px;
	padding-bottom: 50px;
	min-height: 900px;
	color: #fff;
	background-image: url(../img/billbord.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.descr-big {
	font-size: 46px;
	line-height: 64px;
	padding-bottom: 8px;
	font-weight: 500;
	background: linear-gradient(90.17deg, #C5C7E0 0.76%, #FFFFFF 98.84%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.title-section,
.title-big {
	font-size: 70px;
	line-height: 98px;
	font-weight: 500;
	font-family: 'Laviossa';
	text-transform: uppercase;
	background: url(../img/bg_text.png), linear-gradient(91.55deg, #243D66 -0.24%, #6E61CA 47.77%, #243D66 107.03%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.billbord .title-big {
	margin-bottom: 55px;
	background: url(../img/bg_text.jpg), linear-gradient(91.55deg, #243D66 -0.24%, #6E61CA 47.77%, #243D66 107.03%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.billbord .text-big {
	margin-bottom: 64px;
}
.text-big {
	font-size: 20px;
	line-height: 40px;
}
.text-big li {
	padding-left: 30px;
	position: relative;
}
.text-big li::before {
	position: absolute;
	display: block;
	content: " ";
	top: 17px;
	left: 0;
	width: 6px;
	height: 6px;
	background: #8744B5;
	border-radius: 50%;
}
.text-big li::after {
	position: absolute;
	display: block;
	content: " ";
	top: 16px;
	left: -2px;
	width: 8px;
	height: 8px;
	background: #8744B5;
	filter: blur(4px);
	border-radius: 50%;
}
.btn-main {
	height: 90px;
	padding: 0 40px;
	font-weight: 600;
	font-size: 16px;
	line-height: 200%;
	font-family: 'Gilroy';
	letter-spacing: 0.15em;
	color: #FFFFFF;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	text-transform: uppercase;
	text-align: center;
	background-image: url(../img/btn.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-blend-mode: luminosity;
	box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.5);
	border-radius: 15px;
	position: relative;
	z-index: 1;
}
.btn-main::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0px;
	left: 0;
	right: 0;
	bottom: -5px;
	background: linear-gradient(90deg, #7F38AF 0%, #A074C4 50.5%, #7F38AF 100%);
	box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.5);
	border-radius: 15px;
	z-index: -1;
	transition: all 0.3s;
}
.btn-main::after {
	position: absolute;
	display: block;
	content: " "; 
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../img/btn.png), linear-gradient(180deg, #C5C7E0 0%, #8744B5 100%);
	box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.5);
	border-radius: 15px;
	z-index: -1;
	transition: all 0.3s;
}
.btn-main:hover::before {
	bottom: 0;
}
.about {
	background-image: url(../img/bg_about.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.image-about {
	display: flex;
	justify-content: flex-end;
}
.about .title-big {
	padding-top: 65px;
}
.descr-title {
	font-size: 24px;
	line-height: 34px;
	font-weight: 500;
}
.item-about {
	padding: 38px 58px;
	min-height: 100%;
	background: linear-gradient(0deg, rgba(197, 199, 224, 0), rgba(197, 199, 224, 0)), #FFFFFF;
	box-shadow: 0px 15px 15px rgba(197, 199, 224, 0.3);
	border-radius: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	z-index: 1;
	transition: all 0.3s;
}
.item-about:hover {
	box-shadow: 0px 15px 15px rgba(197, 199, 224, 0.7);
}
.item-about::before {
	position: absolute;
	display: block;
	content: " ";
	top: 7px;
	left: 7px;
	right: 7px;
	bottom: 7px;
	background: linear-gradient(289.26deg, rgba(160, 116, 196, 0.5) -56.45%, rgba(197, 199, 224, 0) 112.29%);
	border: 1px solid rgba(189, 159, 87, 0.5);
	border-radius: 15px;
	pointer-events: none;
}
.item-about__head {
	margin-bottom: 23px;
	display: flex;
	align-items: center;
	width: 100%;
}
.item-about p {
	margin-bottom: 23px;
}
.item-about__icon {
	width: 60px;
	height: 60px;
	margin-right: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
}
.item-about__icon img {
	max-width: 100%;
	max-height: 100%;
}
.item-about__title {
	font-size: 24px;
	line-height: 34px;
	font-weight: 500;
	color: #243D66;
}
.link-page {
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
	color: #243D66;
	border-bottom: 1px solid #243D66;
}
.link-page:hover {
	border-color: transparent;
}
.row_about > div {
	margin-bottom: 30px;
}
.item-about .link-page {
	margin-top: auto;
}
.row_about > div:nth-child(2) p {
	max-width: 262px;
}
.about .descr-title {
	margin-bottom: 50px;
}
.services {
	padding-top: 50px;
	padding-bottom: 95px;
}
.title-section {
	font-size: 48px;
	line-height: 67px;
}
.item-service {
	padding: 95px 65px;
	padding-bottom: 126px;
	font-size: 20px;
	line-height: 28px;
	background-image: url(../img/bg_service.svg);
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0px 15px 25px rgba(160, 116, 196, 0.3);
	border-radius: 30px;
	background-size: 100% 100%;
	min-height: 100%;
	position: relative;
	z-index: 1;
	transition: all 0.3s;
}
.item-service:hover {
	box-shadow: 0px 15px 25px rgba(160, 116, 196, 0.7);
}
.item-service__title {
	font-size: 48px;
	line-height: 67px;
	margin-bottom: 20px;
	color: #B8A36E;
	font-weight: 500;
	display: block;
	text-align: center;
	font-family: 'Laviossa';
}
.item-service li {
	margin-bottom: 20px;
}
.item-service li a {
	color: #fff;
	border-bottom: 1px solid transparent;
}
.item-service li a:hover {
	border-color: #fff;
}
.item-service li a strong {
	font-weight: 500;
}
.item-service__icon {
	bottom: 74px;
	right: 84px;
	z-index: -1;
	position: absolute;
}
.row_services > div:nth-child(3) .item-service__icon {
	bottom: 85px;
	right: 159px;
}
.services .title-section {
	padding-bottom: 50px;
}

.help {
	padding-top: 58px;
	padding-bottom: 26px;
	background-image: url(../img/bg_help.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.item-help {
	font-size: 14px;
	line-height: 20px;
	padding: 35px;
	border-radius: 20px;
	min-height: 260px;
	height: 100%;
	color: #fff;
	position: relative;
	z-index: 1;
	transition: all 0.3s;
}
.item-help:hover {
	box-shadow: 0px 15px 25px rgba(160, 116, 196, 0.3);
}
.item-help__title {
	font-size: 22px;
	line-height: 31px;
	margin-bottom: 17px;
	max-width: 233px;
}
.item-help__image {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	z-index: -1;
}
.item-help__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 20px;
}
.item-help::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(156.42deg, #243D66 16.22%, rgba(135, 68, 181, 0.4) 85.84%);
	border-radius: 20px;
	pointer-events: none;
	z-index: -1;
}
.item-help p {
	max-width: 243px;
}
.row_help > div {
	margin-bottom: 30px;
}
.item-help::before {
	position: absolute;
	display: block;
	content: " ";
	top: 9px;
	bottom: 9px;
	right: 9px;
	left: 9px;
	border: 1px solid #B8A36E;
	border-radius: 15px;
	pointer-events: none;
}
.help .title-section {
	max-width: 560px;
}
.item-review {
	width: 238px;
	height: 424px;
	max-width: 100%;
	margin: 0 auto;
	transition: all 0.3s;
}
.item-review img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	filter: blur(2px);
}
.slick-current .item-review {
	transform: scale(1.08);
}
.slick-current .item-review img {
	filter: blur(0);
}
.slider-reviews {
	min-height: 772px;
	margin-top: -50px;
	margin-left: -40px;
	background-image: url(../img/phone.png);
	background-repeat: no-repeat;
	background-position: 51.1% 50%;
}
.slider-reviews .slick-track {
	padding: 150px 0;
	padding-top: 170px;
	display: flex !important;
	align-items: center;
}
.slider-reviews .slick-slide {
	height: inherit !important;
}
.reviews {
	padding-top: 74px;
	padding-bottom: 50px;
	background-image: url(../img/bg_reviews.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.reviews .slick-dots {
	bottom: 15px;
}
.slick-dots {
	bottom: 0;
	left: 0;
	width: 100%;
}
.slick-dots li {
	width: 6px;
	height: 6px;
	margin: 0 13px;
}
.slick-dots li button {
	width: 6px;
	height: 6px;
	background-color: #8744B5;
	border-radius: 50%;
	padding: 0;
	border: none;
	transition: all 0.3s;
	position: relative;
}
.slick-dots li button::before {
	position: absolute;
	display: block;
	content: " ";
	width: 8px;
	height: 8px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: #8744B5;
	filter: blur(4px);
	transition: all 0.3s;
}
.slick-dots li button:hover::before,
.slick-dots li.slick-active button::before {
	opacity: 0;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button {
	background-color: #BD9F57;
}
.checkbox {
	font-size: 12px;
	line-height: 14px;
	margin-top: 35px;
	color: #626262;
	text-align: left;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.checkbox label span {
	position: relative;
	padding: 5px 0 0 28px;
	display: block;
	cursor: pointer;
}
.checkbox label span:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 19px;
	height: 19px;
	border: 1px solid #626262;
	transition: .2s;
}
.checkbox label span:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 0px;
	width: 19px;
	height: 19px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	background-image: none;
	color: #626262;
	font-size: 9px;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}
.checkbox-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-form {
	margin-bottom: 21px;
}
.item-form textarea,
.item-form input {
	font-size: 14px;
	line-height: 20px;
	height: 50px;
	padding: 0 16px;
	color: #605F5F;
	width: 100%;
	background: #FFFFFF;
	box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	font-family: 'Gilroy';
	border: none;
}
.item-form textarea {
	padding-top: 15px;
	height: 127px;
	resize: none;
}
.form-page {
	padding: 109px 76px;
	padding-bottom: 20px;
	max-width: 456px;
	min-height: 669px;
	margin: 0 auto;
	background-image: url(../img/bg_form.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	position: relative;
}
.title-form {
	font-size: 24px;
	line-height: 34px;
	padding-bottom: 8px;
	font-weight: 500;
	text-align: center;
	color: #243D66;
}
.descr-form {
	padding-bottom: 24px;
	text-align: center;
}
.form-page .btn-main {
	height: 80px;
	width: 100%;
}
.logo-form {
	top: 17px;
	left: 0;
	right: 0;
	width: 107px;
	margin: 0 auto;
	display: block;
	position: absolute;
}
.logo-form img {
	max-width: 100%;
	height: auto;
	display: block;
}

.steps {
	padding-top: 58px;
	padding-bottom: 155px;
	background-color: #F7F3F9;
	background-image: url(../img/bg_steps.svg);
	background-repeat: no-repeat;
	background-position: center 73px;
}
.steps .title-section {
	padding-bottom: 28px;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}
.tabs-steps {
	display: flex;
	justify-content: center;
	align-items: center;
}
.number-step {
	width: 153px;
	height: 153px;
	font-size: 48px;
	line-height: 67px;
	margin: 0 17px;
	color: #B8A36E;
	font-weight: 500;
	border-radius: 50%;
	font-family: 'Laviossa';
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: linear-gradient(180deg, #243D66 0%, #8744B5 100%), #D9D9D9;
	position: relative;
	z-index: 1;
}
.number-step::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-image: url(../img/circle_step.svg);
	background-repeat: no-repeat;
	background-position: 50% 40%;
	pointer-events: none;
}
.number-step::before {
	position: absolute;
	display: block;
	content: " ";
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	border-radius: 50%;
	z-index: -1;
	transform: scale(0);
	transition: all 0.5s;
	background: linear-gradient(289.26deg, rgba(160, 116, 196, 0.5) -56.45%, rgba(197, 199, 224, 0) 112.29%), #FFFFFF;
}
.number-step:hover::before,
.tabs-steps .active .number-step::before {
	transform: scale(1);
}
.tab-container-steps {
	padding-top: 48px;
}
.tab-pane-steps {
	display: none;
}
.tab-pane-steps:first-child {
	display: block;
}
.image-step img {
	max-width: 100%;
	height: auto;
	border-radius: 20px;
}
.article__left h2,
.title-small {
	font-size: 24px;
	line-height: 34px;
	margin-bottom: 22px;
	font-weight: 500;
	color: #243D66;
}
.line-form {
	display: flex;
	align-items: center;
}
.line-form .item-form {
	flex: 1;
	margin: 0;
}
.line-form .btn-main {
	height: 80px;
	padding: 0 50px;
	margin-left: -20px;
}
.line-form .item-form input {
	height: 56px;
}
.tab-container-steps .checkbox {
	margin-top: 20px;
}
.right-steps {
	padding: 25px 0;
	margin-left: -35px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.form-steps {
	margin-top: auto;
	width: 100%;
}
.instagram {
	padding-top: 48px;
	padding-bottom: 70px;
}
.instagram-head__descr {
	font-size: 14px;
	line-height: 20px;
	margin-top: -7px;
	padding-right: 30px;
	color: #B8B5B5;
	text-align: right;
}
.instagram-head {
	display: inline-block;
}
.link-insta {
	font-size: 32px;
	line-height: 45px;
	font-weight: 500;
	color: #243D66;
}
.item-insta {
	margin-top: 35px;
	display: inline-block;
}
.item-insta img {
	border-radius: 20px;
	border: 1px solid #D9D9D9;
	max-width: 100%;
}
.footer {
	padding-top: 31px;
	background-color: #243D66;
	color: #fff;
}
.footer__wrap {
	padding-bottom: 36px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer .logo img {
	width: 87px;
}
.footer .logo-descr {
	margin-left: 35px;
}
.footer .menu {
	margin-left: 89px;
}
.footer-bottom {
	font-size: 14px;
	line-height: 21px;
	color: #B1B1B1;
	padding: 15px 0;
	border-top: 1px solid #D9D9D9;
}
.footer-bottom a {
	color: #B1B1B1;
}
.footer-bottom a:hover {
	color: #fff;
}
.create {
	display: flex;
	align-items: center;
}
.create a {
	margin-left: 15px;
}
.btn_top {
	font-size: 15px;
	float: right;
	position: relative;
	color: #3B3735 !important; 
	width: 40px;
	height: 40px;
	text-align: center;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #fff;
	z-index: 3;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_top:hover {
	background-color: #ccc;
}
.footer__title i {
	display: none;
}
/*Style Sandwich*/
.sandwich span {
	display: block;
}
.sandwich {
	width: 39px;
	height: 39px;
	padding-top: 7px;
	margin-right: -5px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items:center;
	display: none;
	z-index: 20;
	flex: none;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 25px;
	height:  2px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	top: 9px;
	width: 25px;
	height:  2px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
	position: relative;
	top: 14px;
	width: 25px;
	height:  2px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
	top: 9px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top: 5px;
	transform: rotate(-45deg); 
}
.deck {
	width: 300px;
	height: 250px;
	margin: 0 auto;
	margin-bottom: 27px;
	display: flex;
	cursor: pointer;
	justify-content: center;
	position: relative;
}
.item-deck {
	position: absolute;
	left: 0;
	top: 0;
	animation: deck1 1s linear 1s infinite;
	transition: all 0.3s;
}
.item-deck img {
	border-radius: 20px;
}
.item-deck:nth-child(2) {
	left: 29px;
	animation: deck1 1s linear 1.5s infinite;
}
.item-deck:nth-child(3) {
	left: 58px;
	z-index: 3;
	animation: deck1 1s linear 2s infinite;
}
.item-deck:nth-child(4) {
	left: 87px;
	z-index: 4;
	animation: deck1 1s linear 2.5s infinite;
}
.item-deck:nth-child(5) {
	left: 116px;
	z-index: 5;
	animation: deck1 1s linear 3s infinite;
}
.item-deck:nth-child(6) {
	left: 146px;
	z-index: 6;
	animation: deck1 1s linear 3.5s infinite;
}
@keyframes deck1 {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateX(0);
	}
}

.wrapper_page {
	padding-top: 64px;
}
.wrapper_page .header {
	background: #243D66;
}
.breadcrumbs {
	font-size: 14px;
	line-height: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: 500;
	color: #605F5F;
	display: flex;
	align-items: center;
}
.breadcrumbs a {
	color: #605F5F;
	border-bottom: 1px solid transparent;
}
.breadcrumbs a:hover {
	border-color: #605F5F;
}
.breadcrumbs li::after {
	margin: 0 10px;
	content: "/";
}
.breadcrumbs li:last-child::after {
	display: none;
}
.news-page .title-section {
	padding-bottom: 21px;
}
.item-news__image {
	height: 260px;
	display: block;
	border-radius: 20px;
	position: relative;
}
.news-big__image::after,
.item-news__image::after {
	position: absolute;
	display: block;
	content: " ";
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border: 1px solid #B8A36E;
	border-radius: 15px;
}
.news-big__image img,
.item-news__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 20px;
}
.item-news .title-small {
	margin-bottom: 20px;
	width: 100%;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.item-news p {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
	overflow: hidden;	
}
.item-news__right {
	padding-top: 5px;
	padding-bottom: 15px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-news .link-page {
	margin-top: auto;
}
.row_news > div {
	margin-bottom: 33px;
}
.news-big__image {
	height: 260px;
	border-radius: 20px;
	display: block;
	position: relative;
}
.news-big__image::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 20px;
	background: linear-gradient(156.42deg, #243D66 16.22%, rgba(135, 68, 181, 0.4) 85.84%);
}
.news-big__content {
	position: absolute;
	top: 39px;
	left: 59px;
	width: 100%;
	max-width: 490px;
}
.news-big__title {
	font-size: 32px;
	line-height: 45px;
	margin-bottom: 25px;
	font-weight: 500;
	color: #fff;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.news-big .link-page {
	color: #fff;
	border-color: #fff;
}
.news-big .link-page:hover {
	border-color: transparent;
}
.news-big_simple .news-big__image::before {
	display: none;
}
.pager {
	height: 90px;
	margin-top: 14px;
	background: #F7F3F9;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.page-numbers {
	font-size: 24px;
	font-weight: 500;
	margin: 0 23px;
	line-height: 34px;
	color: #243D66;
}
.prev.page-numbers,
.next.page-numbers {
	width: 70px;
	height: 70px;
	margin: 0;
	font-size: 20px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FFFFFF;
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.06);
	color: #8744B5;
	position: absolute;
	top: 0;
	left: 17px;
	bottom: 0;
	margin: auto;
}
.prev.page-numbers:hover,
.next.page-numbers:hover {
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
}
.next.page-numbers {
	right: 17px;
	left: auto;
}
.news-page {
	padding-bottom: 34px;
}
.article__left {
	line-height: 26px;
}
.article__left p {
	margin-bottom: 20px;
}
.article-main {
	min-height: 390px;
	margin-bottom: 54px;
	font-size: 18px;
	line-height: 25px;
	padding: 50px 87px;
	padding-right: 435px;
	font-weight: 500;
	position: relative;
	color: #fff;
	z-index: 2;
}
.article-main__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	display: block;
	pointer-events: none;
	z-index: -1;
}
.article-main__image::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 20px;
	background: linear-gradient(156.42deg, #243D66 16.22%, rgba(135, 68, 181, 0.4) 85.84%);
}
.article-main__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 20px;
}
.article__left time {
	font-size: 15px;
	margin-bottom: 21px;
	display: block;
	font-weight: 500;
}
.article__left h1 {
	font-size: 36px;
	line-height: 50px;
	margin-bottom: 21px;
	font-weight: 500;
}
.article .item-news__image {
	margin-bottom: 20px;
}
.article .item-news .title-small {
	margin-bottom: 16px;
}
.article .item-news {
	margin-bottom: 40px;
}
.article .item-news:last-child {
	margin-bottom: 0;
}
.article {
	padding-bottom: 45px;
}
.form-page_contacts {
	padding-top: 119px;
	padding-left: 66px;
	padding-right: 66px;
	max-width: 672px;
	min-height: 578px;
	background-image: url(../img/bg_form2.svg);
}
.form-page_contacts .logo-form {
	top: -14px;
	left: 51px;
}
.contacts {
	padding-bottom: 30px;
	background: #F7F3F9;
}
.form-page_contacts .btn-main {
	max-width: 330px;
	margin: 0 auto;
	display: flex;
}
.form-page_contacts .item-form textarea {
	height: 90px;
}
.text-main {
	line-height: 26px;
}
.text-main p {
	margin-bottom: 20px;
}
.contacts .title-section {
	padding-bottom: 20px;
}
.btn-main__icon {
	width: 46px;
	height: 46px;
	margin-right: 23px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border-radius: 50%;
	flex: none;
}
.btn-main__icon i {
	font-size: 22px;
	font-weight: 300;
}
.contacts ~ .instagram {
	background: #F7F3F9;
}
.buttons-contacts {
	display: flex;
	margin: 0 -15px;
}
.buttons-contacts .btn-main {
	height: 80px;
	width: 240px;
	margin: 0 15px;
}
.btn-main_whatsapp::before {
	background: linear-gradient(90deg, #33CE62 0%, #84E7A2 50.5%, #33CE62 100%);
	box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.5);
}
.btn-main_whatsapp::after {
	background: url(../img/btn.png), linear-gradient(180deg, #ABF3C1 0%, #33CE62 100%);
	box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.5);
}
.btn-main_telegram::before {
	background: linear-gradient(90deg, #1393E2 0%, #86CCF8 50.5%, #1393E2 100%);
	box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.5);
}
.btn-main_telegram::after {
	background: url(../img/btn.png), linear-gradient(180deg, #B9E2FC 0%, #1393E2 100%);
	box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.5);
}
.btn-main_whatsapp .btn-main__icon {
	color: #33CE62;
}
.btn-main_telegram .btn-main__icon {
	color: #1393E2;
}
.divination {
	padding-bottom: 73px;
	background-color: #F7F3F9;
	background-image: url(../img/bg_steps.svg);
	background-repeat: no-repeat;
	background-position: center 100px;
}
.descr-section {
	max-width: 825px;
	padding-top: 7px;
	padding-bottom: 38px;
	margin: 0 auto;
	text-align: center;
}
.divination .title-section {
	text-align: center;
}
.tab-container-divination {
	text-align: center;
}
.image-card img {
	border-radius: 20px;
	max-width: 100%;
	margin: 0 auto;
	box-shadow: 0px 15px 25px rgba(160, 116, 196, 0.3);
}
.title-divination {
	font-size: 32px;
	line-height: 45px;
	padding-top: 49px;
	padding-bottom: 14px;
	color: #243D66;
	font-weight: 500;
}
.subtitle-divination {
	font-size: 20px;
	line-height: 28px;
	padding-top: 30px;
	padding-bottom: 16px;	
	color: #243D66;
	font-weight: 500;
}
.text-divination {
	max-width: 705px;
	margin: 0 auto;
}
.descr-divination {
	max-width: 465px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.tab-pane-divination {
	display: none;
}
.tab-pane-divination:first-child {
	display: block;
}
.info-text {
	font-size: 14px;
	padding: 34px 35px;
	background: #FFFFFF;
	border: 1px solid rgba(189, 159, 87, 0.5);
	border-radius: 15px;
}
.info-text li::before {
	position: absolute;
	display: block;
	content: "•";
	top: 0;
	left: 0;
}
.info-text li {
	position: relative;
	margin-bottom: 15px;
	padding-left: 15px;
}
.info-text li:last-child {
	margin-bottom: 0;
}
.title-min {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 25px;
	font-weight: 500;
	color: #243D66;
}
.amulet img {
	max-width: 100%;
	height: auto;
	border-radius: 20px;
}
.row_amulet {
	margin-bottom: 50px;
}
.row_amulet:last-child {
	margin-bottom: 0;
}
.item-amulet__text {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 11;
	-webkit-box-orient: vertical;  
	overflow: hidden;
	position: relative;
}
.item-amulet__text::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 66px;
	bottom: 0;
	left: 0;
	pointer-events: none;
	background: linear-gradient(180deg, rgba(247, 243, 249, 0) 0%, #F7F3F9 100%);
	transition: all 0.3s;
}
.recommendation {
	padding-bottom: 77px;
	background: #F7F3F9;
}
.item-amulet__image {
	height: 325px;
	margin-bottom: 20px;
	width: 100%;
	border-radius: 20px;
	display: block;
}
.item-amulet__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 20px;
}
.item-amulet__title {
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 16px;
	font-weight: 500;
	color: #243D66;
	display: block;
}
.amulet {
	background: #F7F3F9;
	padding-bottom: 60px;
}
.item-amulet__text.active {
	display: block;
}
.item-amulet__text.active::after {
	opacity: 0;
}
.amulet p strong {
	font-weight: 500;
}
.thanks {
	padding-top: 125px;
	min-height: 872px;
	text-align: center;
	background-color: #F7F3F9;
	background-image: url(../img/bg_thanks.svg);
	background-repeat: no-repeat;
	background-position: center 73px;
}
.logo-thanks img {
	margin: 0 auto;
	display: block;
}
.logo-thanks {
	margin-bottom: 56px;
}
.thanks .title-section {
	max-width: 505px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.descr-thanks {
	font-size: 20px;
	line-height: 28px;
	max-width: 405px;
	margin: 0 auto;
	margin-bottom: 75px;
	font-weight: 500;
	color: #243D66;
}
.thanks .btn-main {
	width: 350px;
	max-width: 100%;
	margin: 0 auto;
}
.modal-block {
	display: none;
}
.modal-block .form-page_contacts {
	width: 672px;
	margin: 0 auto;
	max-width: 100%;
}
.fancybox-skin {
	padding: 0 !important;
	background-color: transparent !important;
	box-shadow: none !important;
}
.fancybox-close {
	top: 33px;
	right: -10px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 29px;
	color: #243D66;
	background-image: none !important;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-weight: 400;
	font-family: "Font Awesome 5 Pro";
}
.fancybox-close::before {
	content: "\f057";
}
.fancybox-inner {
	overflow: visible !important;
}
.fancybox-overlay {
	background: #EEEEEE;
}
.training {
	padding-bottom: 80px;
	background-color: #F7F3F9;
	background-image: url(../img/bg_training.svg);
	background-repeat: no-repeat;
	background-position: center 73px;
}
.training .title-section {
	max-width: 574px;
	margin: 0 auto;
	margin-bottom: 37px;
	text-align: center;
}
.training-main {
	padding: 24px 35px;
	background: linear-gradient(156.42deg, #243D66 16.22%, rgba(135, 68, 181, 0.4) 85.84%), #6E61CA;
	border-radius: 20px;
	max-width: 1020px;
	margin: 0 auto;
	color: #fff;
}
.training-main__title {
	font-size: 48px;
	line-height: 67px;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
}
.training-main__descr {
	font-size: 24px;
	line-height: 34px;
	padding-bottom: 22px;
	font-weight: 500;
	text-align: center;
}
.training-main__bottom {
	display: flex;
	justify-content: space-between;
}
.training-main__subtitle {
	font-size: 20px;
	line-height: 28px;
	padding-bottom: 2px;
	font-weight: 500;
}
.training-main__value {
	font-size: 30px;
	line-height: 42px;
	font-weight: 800;
}
.training-main__info:nth-child(2) {
	text-align: right;
}
.info-text p strong {
	font-weight: 500;
}
.training .info-text {
	min-height: 100%;
}
.training .info-text li {
	margin: 0;
}
.row_info > div {
	margin-top: 40px;
}
.wrapper-info {
	max-width: 1020px;
	margin: 0 auto;
	margin-bottom: 119px;
}
.title-block {
	font-size: 32px;
	line-height: 45px;
	color: #243D66;
	font-weight: 500;
}
.training .title-block {
	text-align: center;
}
.training .item-about__head {
	text-align: center;
	display: block;
}
.training .item-about {
	padding: 25px;
}
.training .item-about__title {
	font-size: 20px;
	line-height: 28px;
}
.training .item-about__icon {
	margin: 0 auto;
	margin-bottom: 16px;
}
.item-about li::before {
	position: absolute;
	display: block;
	content: "•";
	top: 0;
	left: 0;
}
.item-about li {
	position: relative;
	margin-bottom: 15px;
	padding-left: 15px;
}
.training .row_about > div {
	margin-top: 30px;
	margin-bottom: 0;
}
.training .row_about {
	margin-bottom: 57px;
}
.item-dropdown {
	margin-bottom: 25px;
	background: linear-gradient(0deg, rgba(197, 199, 224, 0), rgba(197, 199, 224, 0)), #FFFFFF;
	box-shadow: 0px 15px 15px rgba(197, 199, 224, 0.3);
	border-radius: 15px;
}
.item-dropdown__head {
	font-size: 20px;
	line-height: 28px;
	padding: 24px 32px;
	font-weight: 600;
	color: #243D66;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.item-dropdown__head i {
	font-size: 22px;
	margin-left: 7px;
	color: #6E61CA;
	transition: all 0.3s;
}
.item-dropdown.active .item-dropdown__head i {
	transform: rotate(45deg);
}
.item-dropdown__content {
	padding: 25px 32px;
	padding-top: 0;
	display: none;
}
.item-dropdown__content li::before {
	position: absolute;
	display: block;
	content: "•";
	top: 0;
	left: 0;
}
.item-dropdown__content li {
	position: relative;
	padding-left: 15px;
}
.title-block_dropdown {
	padding-bottom: 30px;
}
.item-tarif {
	padding: 63px 32px;
	padding-bottom: 17px;
	color: #fff;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: linear-gradient(180deg, #243D66 0%, #8744B5 100%);
	box-shadow: 0px 15px 25px rgba(160, 116, 196, 0.3);
	border-radius: 30px;
	position: relative;
	z-index: 1;
}
.item-tarif::after {
	position: absolute;
	display: block;
	content: " ";
	left: 16px;
	right: 15px;
	top: 16px;
	bottom: 15px;
	z-index: -1;
	background-image: url(../img/bg_tarif.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.item-tarif li {
	margin-bottom: 22px;
}
.item-tarif__title {
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 10px;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	color: #B8A36E;
	width: 100%;
	display: block;
}
.item-tarif ul {
	padding: 0 10px;
	width: 100%;
}
.item-tarif__bottom {
	text-align: center;
	margin-top: auto;
	width: 100%;
}
.item-tarif__oldprice {
	text-decoration: line-through;
	color: #EBEDEE;
	font-weight: 500;
}
.item-tarif__price {
	font-size: 24px;
	line-height: 34px;
	font-weight: 500;
	margin-bottom: 12px;
	color: #B8A36E;
}
.item-tarif .btn-main {
	height: 50px;
	padding: 0 25px;
	font-size: 14px;
}
.row_tarifs {
	margin: 0 -38px;
	margin-bottom: 60px;
}
.row_tarifs > div {
	padding: 0 38px;
	margin-top: 30px;
}
.item-tarif__excluded {
	text-decoration: line-through;
}
.list-dropdowns {
	columns: 2;
	column-gap: 30px;
}
.list-dropdowns .item-dropdown {
	overflow: hidden; /* Fix for firefox and IE 10-11  */
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid; /* IE 10+ */
	break-inside: avoid-column;
}
.title-block_tarifs {
	padding-top: 20px;
}