/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1540px) {
	body {
		font-size: 15px;
	}
	.menu {
		margin-left: 105px;
		margin-right: 60px;
	}
	.billbord {
		padding-top: 135px;
		padding-bottom: 35px;
		min-height: 750px;
	}
	.descr-big {
		font-size: 41px;
		line-height: 51px;
	}
	.title-big {
		font-size: 63px;
		line-height: 91px;
	}
	.billbord .title-big {
		margin-bottom: 30px;
	}
	.text-big {
		font-size: 18px;
		line-height: 37px;
	}
	.billbord .text-big {
		margin-bottom: 50px;
	}
	.btn-main {
		height: 80px;
		padding: 0 30px;
		font-size: 15px;
	}
	.phone-main {
		font-size: 17px;
	}
	.descr-title {
		font-size: 22px;
		line-height: 32px;
	}
	.about .descr-title {
		margin-bottom: 30px;
	}
	.item-about__title {
		font-size: 22px;
		line-height: 30px;
	}
	.item-about {
		padding: 33px 45px;
	}
	.image-about img {
		max-width: 580px;
	}
	.about .title-big {
		padding-top: 35px;
	}
	.item-service {
		padding: 75px 55px;
		padding-bottom: 100px;
		font-size: 18px;
		line-height: 26px;
	}
	.item-service li {
		margin-bottom: 15px;
	}
	.item-service__icon {
		bottom: 57px;
		right: 70px;
	}
	.item-help__title {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 15px;
		max-width: 219px;
	}
	.item-help {
		min-height: 220px;
	}
	.right-steps {
		margin-left: -15px;
	}
	.footer .menu {
		margin-left: 65px;
	}
	.row_services > div:nth-child(3) .item-service__icon {
		right: 145px;
	}
	.item-service__icon {
		transform: scale(0.9);
	}
	.form-page {
		padding: 109px 65px;
		padding-bottom: 20px;
	}
	.slider-reviews {
		min-height: 755px;
	}
		.item-news .title-small {
		    font-size: 22px;
    line-height: 32px;
	}
	.news-big__image,
	.item-news__image {
    height: 245px;
}
.news-big__title {
    font-size: 29px;
    line-height: 42px;
    margin-bottom: 23px;
    }
    .page-numbers {
    font-size: 22px;
}
.article-main {
    padding: 50px 55px;
    padding-right: 340px;
    }
}

@media only screen and (max-width : 1400px) {
	.menu {
		margin-left: 40px;
	}
	.item-about__title {
		font-size: 20px;
		line-height: 28px;
	}
	.item-about {
		padding: 33px;
	}
	.image-about img {
		max-width: 535px;
	}
	.about .title-big {
		padding-top: 22px;
	}
	.item-service__title {
		font-size: 39px;
		line-height: 56px;
	}
	.item-service {
		padding: 75px 50px;
		padding-bottom: 100px;
		font-size: 16px;
		line-height: 24px;
	}
	.item-help__title {
		font-size: 18px;
		line-height: 27px;
		margin-bottom: 13px;
	}
	.title-section {
		font-size: 44px;
		line-height: 64px;
	}
	.item-help {
		font-size: 13px;
		line-height: 18px;
		min-height: 200px;
	}
	.item-review {
		width: 210px;
		height: 375px;
	}
	.slider-reviews {
		min-height: 713px;
		margin-top: -35px;
		margin-left: -25px;
		background-size: 315px auto;
	}
	.form-page {
		padding: 109px 30px;
		padding-bottom: 20px;
		min-height: 630px;
		margin-left: -40px;
	}
	.checkbox {
		margin-top: 25px;
	}
	.form-page .item-form {
		margin-bottom: 14px;
	}
	.line-form .btn-main {
		height: 70px;
		padding: 0 33px;
	}
	.title-small {
		font-size: 21px;
		line-height: 30px;
		margin-bottom: 18px;
	}
	.right-steps {
		margin-left: 0;
	}
	.steps {
		padding-bottom: 110px;
		background-size: 1100px auto;
		background-position: center 179px;
	}
	.footer .logo img {
		width: 65px;
	}
.item-news .title-small {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 15px;
}
.news-big__image, .item-news__image {
    height: 230px;
}
.news-big__title {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 20px;
}
.news-big__content {
    top: 30px;
    left: 55px;
        max-width: 430px;
    }
    .prev.page-numbers, .next.page-numbers {
    	width: 50px;
    	height: 50px;
    	font-size: 14px;
    }
    .pager {
    	height: 75px;
    }
    .page-numbers {
    font-size: 18px;
    margin: 0 15px;
}
.article__left h1 {
    font-size: 33px;
    line-height: 46px;
    }
    .article-main {
    padding: 50px 55px;
    padding-right: 275px;
        font-size: 16px;
    line-height: 23px;
    margin-bottom: 30px;
}
.form-page_contacts {
	min-height: 550px;
	padding-top: 119px;
	margin-left: 0;
}
.form-page_contacts .logo-form {
    top: 5px;
    left: 46px;
}
.form-page_contacts .title-form {
	padding-bottom: 0;
}
.form-page_contacts .descr-form {
	padding-bottom: 10px;
}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	body {
		font-size: 14px;
		line-height: 20px;
	}
	.billbord {
		padding-top: 100px;
		padding-bottom: 35px;
		min-height: 600px;
	}
	.descr-big {
		font-size: 35px;
		line-height: 45px;
	}
	.title-big {
		font-size: 54px;
		line-height: 70px;
	}
	.billbord .title-big {
		margin-bottom: 25px;
	}
	.text-big {
		font-size: 16px;
		line-height: 35px;
	}
	.text-big li {
		padding-left: 20px;
	}
	.text-big li::before {
		top: 14px;
	}
	.billbord .text-big {
		margin-bottom: 30px;
	}
	.descr-title {
		font-size: 19px;
		line-height: 29px;
	}
	.item-about__title {
		font-size: 18px;
		line-height: 26px;
	}
	.item-about__icon {
		width: 50px;
		height: 50px;
		margin-right: 12px;
	}
	.item-about p {
		margin-bottom: 15px;
	}
	.item-about__head {
		margin-bottom: 15px;
	}
	.image-about img {
		max-width: 490px;
	}
	.image-about {
		margin-right: -50px;
	}
	.services .title-section {
		padding-bottom: 30px;
	}
	.title-section {
		font-size: 37px;
		line-height: 52px;
	}
	.item-service {
		padding: 60px 34px;
		padding-bottom: 30px;
		font-size: 14px;
		line-height: 22px;
	}
	.item-service__title {
		font-size: 35px;
		line-height: 41px;
	}
	.item-service__icon {
		right: 15px;
		transform: scale(0.8);
	}
	.item-service li {
		margin-bottom: 10px;
	}
	.row_services > div:nth-child(3) .item-service__icon {
		bottom: 75px;
		right: 50px;
	}
	.services {
		padding-top: 35px;
		padding-bottom: 50px;
	}
	.item-help {
		padding: 20px;
		min-height: 180px;
	}
	.item-help__title {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 8px;
	}
	.item-review {
		width: 165px;
		height: 287px;
	}
	.slider-reviews {
		min-height: 620px;
		margin-top: -35px;
		margin-left: -25px;
		background-size: 245px auto;
	}
	.form-page .item-form textarea {
		height: 90px;
	}
	.form-page .btn-main {
		height: 70px;
	}
	.form-page {
		padding: 75px 30px;
		padding-bottom: 20px;
		min-height: 545px;
	}
	.logo-form {
		top: 13px;
		width: 84px;
	}
	.title-form {
		font-size: 20px;
		line-height: 30px;
		padding-bottom: 5px;
	}
	.descr-form {
		padding-bottom: 15px;
	}
	.reviews {
		padding-top: 45px;
		padding-bottom: 35px;
	}
	.footer .logo-descr {
		margin-left: 15px;
	}
	.footer .menu {
		margin-left: 15px;
	}
	.menu {
		margin-right: 25px;
	}
	.icon-link {
		margin-right: 15px;
	}
	.menu {
		margin: 0 20px;
	}
	.item-news .title-small {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 12px;
}
.news-big__content {
    top: 26px;
    left: 46px;
    max-width: 340px;
}
.news-big__title {
    font-size: 22px;
    line-height: 30px;
}
.news-big__image, .item-news__image {
    height: 205px;
}
.article-main {
    padding: 30px 40px;
    padding-right: 110px;
        min-height: 355px;
    }
    .article__left h2 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 16px;
}
.text-main p {
    margin-bottom: 15px;
}
.text-main {
    line-height: 22px;
}
.form-page_contacts {
	    min-height: 510px;
    padding-top: 119px;
	background-image: url(../img/bg_form.svg);
}
.form-page_contacts .logo-form {
    top: -37px;
    left: 22px;
}
.buttons-contacts {
	margin: 0 -5px;
}
.buttons-contacts .btn-main {
    margin: 0 5px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header__wrap .line-contacts,
	.header__wrap .menu {
		display: none;
	}
	.descr-big {
		font-size: 28px;
		line-height: 35px;
	}
	.title-big {
		font-size: 44px;
		line-height: 57px;
	}
	.image-about {
		display: none;
	}
	.about {
		padding-bottom: 20px;
	}
	.row_services {
		justify-content: center;
	}
	.row_services > div {
		margin-bottom: 25px;
	}
	.item-service {
		min-height: 450px;
	}
	.services {
		padding-bottom: 25px;
	}
	.help .title-section {
		margin-bottom: 30px;
	}
	.title-section {
		font-size: 33px;
		line-height: 48px;
	}
	.slider-reviews .slick-track {
		padding: 105px 0;
		padding-top: 130px;
	}
	.slider-reviews {
		min-height: 555px;
	}
	.form-page {
		padding-top: 90px;
		max-width: 400px;
		margin: 0 auto;
	}
	.steps {
		padding-top: 40px;
	}
	.number-step {
		width: 100px;
		height: 100px;
		font-size: 28px;
		line-height: 44px;
		margin: 0 8px;
	}
	.number-step::after {
		background-size: 80px auto;
	}
	.line-form .btn-main {
		padding: 0 20px;
	}
	.steps {
		padding-bottom: 60px;
		background-image: none;
	}
	.tab-container-steps {
		padding-top: 30px;
	}
	.instagram-head__descr {
		padding-right: 0;
		text-align: left;
	}
	.link-insta {
		font-size: 26px;
	}
	.item-insta {
		margin-top: 20px;
	}
	.instagram {
		padding-top: 33px;
		padding-bottom: 40px;
	}
	.footer__wrap {
		padding-bottom: 25px;
		display: block;
	}
	.footer__wrap .logo-wrap {
		margin-bottom: 20px;
		justify-content: center;
	}
	.footer .menu {
		margin: 0;
		margin-bottom: 20px;
	}
	.footer .line-contacts {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.footer-bottom {
		text-align: center;
	}
	.create {
		justify-content: center;
	}
	.btn_top {
		float: none;
	}
	.footer-bottom .row > div {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.sandwich {
		display: inline-flex;
	}
	.menu-mobile {
		width: 100%;
		top: 100%;
		left: 0;
		height: 100vh;
		padding: 15px 15px;
		padding-bottom: 120px;
		display: none;
		overflow: auto;
		background-color: #243D66;
		position: absolute;
	}
	.menu-mobile .menu a {
		margin: 0;
		padding: 10px;
		display: block;
		position: relative;
		border-bottom: 1px solid #fff;
	}
	.menu-mobile .menu {
		display: block;
		margin: 0;
		margin-bottom: 22px;
	}
	.header.active {
		background-color: #243D66;
	}
	.article__left p {
    margin-bottom: 15px;
}
.article__left {
	padding-bottom: 20px;
}
.article .item-news {
    margin-bottom: 25px;
}
.form-page_contacts {
	margin-top: 55px;
}
.form-page_contacts {
	padding-bottom: 30px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.descr-big {
		font-size: 24px;
		line-height: 31px;
	}
	.title-big {
		font-size: 38px;
		line-height: 53px;
	}
	.descr-title {
		font-size: 16px;
		line-height: 26px;
	}
	.about .descr-title {
		margin-bottom: 25px;
	}
	.title-section {
		font-size: 25px;
		line-height: 35px;
		text-align: center;
	}
	.item-service {
		max-width: 400px;
		padding: 60px 50px;
		padding-bottom: 30px;
		margin: 0 auto;
		border-radius: 20px;
	}
	.help {
		padding-top: 35px;
		padding-bottom: 20px;
	}
	.help .title-section {
		margin-bottom: 25px;
	}
	.slider-reviews {
		width: 640px;
		position: relative;
		left: 50%;
		margin-left: 0;
		transform: translateX(-50%);
	}
	.tabs-steps {
		justify-content: space-between;	
	}
	.number-step {
		width: 70px;
		height: 70px;
		font-size: 21px;
		line-height: 26px;
		margin: 0;
	}
	.right-steps {
		padding: 0;
		padding-top: 20px;
	}
	.steps {
		padding-bottom: 40px;
	}
	.form-steps {
		margin-top: 25px;
	}
	.line-form .btn-main {
		padding: 0 40px;
	}
	.number-step::after {
		background-size: 56px auto;
	}
	.instagram-head__descr {
		font-size: 12px;
		line-height: 17px;
		margin-top: 0;
		text-align: center;
	}
	.item-news__right {
		display: block;
		padding-top: 15px;
		padding-bottom: 0;
	}
	.row_news > div {
    margin-bottom: 30px;
}
.prev.page-numbers, .next.page-numbers {
    width: 40px;
    height: 40px;
    font-size: 13px;
    left: 10px;
}
.next.page-numbers {
	right: 10px;
	left: auto;
}
.page-numbers {
    font-size: 16px;
    }
    .pager {
    height: 60px;
    border-radius: 10px;
}
.item-news .link-page {
	margin-top: 15px;
	display: inline-block;
}
.breadcrumbs {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
        padding: 13px 0;
    margin: 0 -15px;
    padding-left: 15px;
    margin-bottom: 15px;
}
.breadcrumbs li {
        padding: 9px 10px;
    background: #fff;
    box-shadow: 0 0 4px #ddd;
    border-radius: 30px;
    margin-right: 10px;
}
.breadcrumbs li::after,
.breadcrumbs li span {
    display: none;
}
.article-main {
	margin: 0 -15px;
	border-radius: 0;
	margin-bottom: 25px;
}
.article-main__image img,
.article-main__image::before,
.article-main__image {
	border-radius: 0;
}
.article-main {
    padding: 30px 15px;
    }
    .article__left h1 {
    font-size: 30px;
    line-height: 42px;
}
.article__left {
    line-height: 22px;
}
.article .item-news .link-page {
	margin-top: 0;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.descr-big {
		font-size: 18px;
		line-height: 27px;
	}
	.title-big {
		font-size: 30px;
		line-height: 42px;
	}
	.text-big {
		font-size: 14px;
		line-height: 27px;
	}
	.btn-main {
		height: 70px;
		font-size: 14px;
	}
	.billbord .btn-main {
		padding: 0 5px;
		width: 100%;
	}
	.billbord {
		min-height: 540px;
	}
	.line-form {
		display: block;
	}
	.line-form .item-form {
		margin-bottom: 20px;
	}
	.line-form .btn-main {
		margin: 0;
		width: 100%;
		padding: 0 20px;
	}
	.link-insta {
		font-size: 21px;
		line-height: 25px;
	}
	.instagram-head {
		padding-bottom: 15px;
		text-align: center;
	}
	.instagram-head__descr {
		padding-bottom: 10px;
	}
	.row_insta {
		margin: 0 -5px;
	}
	.row_insta > div {
		padding: 0 5px;
	}
	.item-insta {
		margin-top: 10px;
	}
	.instagram {
		padding-bottom: 30px;
	}
	.footer .menu {
		display: block;
	}
	.footer .menu a {
		padding: 10px 0;
		border-bottom: 1px solid #fff;
		display: block;
	}
	.billbord .text-big {
		max-width: 260px;
	}
	.about .descr-title,
	.about .title-big {
		text-align: center;
	}
	.descr-title {
		font-size: 14px;
		line-height: 21px;
	}
	.row_about > div {
		margin-bottom: 25px;
	}
	.number-step {
		width: 55px;
		height: 55px;
		font-size: 17px;
		line-height: 44px;
		margin: 3px 4px;
	}
	.tabs-steps {
		justify-content: space-between;
	}
	.number-step::after {
		background-size: 45px auto;
	}
	.news-big__content {
		right: 20px;
		width: auto;
	}
	.article__left time {
    font-size: 14px;
    margin-bottom: 12px;
}
.article__left h1 {
    font-size: 26px;
    line-height: 38px;
}
.article__left h2 {
    font-size: 19px;
    line-height: 28px;
    }
    .buttons-contacts {
    	margin: 0;
    	display: block;
    }
    .buttons-contacts .btn-main {
    	margin: 0;
    	margin-bottom: 15px;
    	width: 100%;
    }
    .form-page .item-form textarea {
    height: 75px;
}
.form-page_contacts .btn-main {
	height: 60px;
}
.contacts {
    padding-bottom: 15px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.menu-mobile {
		display: none !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1400px) {
	.container {
		max-width: 1380px;
	}
}
@media (min-width: 1540px) {
	.container {
		max-width: 1470px;
	}
}
@media (min-width: 1920px) {
	.image-about {
		margin-right: 100px;
	}
}